<!doctype html>
<html lang="pt-BR">
<head><meta charset="utf-8"><title>Classificando E-mails</title></head>
<body>
  <h1>Envio de E-mail</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="{{ url_for('processar') }}" method="post" enctype="multipart/form-data">
    <label>Upload (.txt/.pdf):</label>
    <input type="file" name="file"><br><br>
    <label>Ou cole o texto do e-mail:</label><br>
    <textarea name="texto_email" rows="10" cols="50"></textarea><br><br>
    <button type="submit">Processar</button>
  </form>
</body>
</html>
